@model SecureNetworks.Helpers.PaginationHelper<SecureNetworks.Models.DBModels.SNProductsEntity>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-header-dark {
        background-color: #343a40; /* Dark background color for the table header */
        color: #fff; /* White text color for the table header */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2 class="text-center mt-4 mb-5">Product List</h2>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-header-dark">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Image ID</th>
                            <th scope="col">Price(£)</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.SNProductName</td>
                                <td>@product.SNProductImageUrl</td>
                                <td>@product.SNProductPrice</td>
                                <td>@product.SNProductRating</td>
                                <td>@product.SNProductStock</td>
                                <td>@product.SNProductCategory</td>
                                <td>@product.SNProductDescription</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Product Actions">
                                        <a href="@Url.Action("Edit", "Admin", new { id = product.SNProductId })" class="btn btn-info">Edit</a>
                                        <a href="@Url.Action("Delete", "Admin", new { id = product.SNProductId })" class="btn btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <nav class="text-center">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = (Model.PageIndex - 1) })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = (Model.PageIndex + 1) })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>

            <div class="text-center mt-4">
                <a href="@Url.Action("Create", "Admin")" class="btn btn-outline-dark">Add New Product</a>
            </div>
        </div>
    </div>
</div>
